body{
    background-color: pink;
    background: linear-gradient(to right, rgb(227, 189, 195), rgb(221, 37, 67));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    text-align: center;
padding-top: 30px;
    padding-left: 5px;
    padding-right:5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    width: 700px;
    height: 300px;
}
.CreateAccount{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: pink;
    font-family: Helvetica ;

}
.Name{
    text-align: center;
    margin-top: 5px;
}
.Name input{
    width: 300px;
    height: 15px;
    text-align: left;
    font-size: 20px;
    padding:15px;
    border-radius: 15px;
    border: 1px solid #ccc; 
}
.Email{
    text-align: center;
    margin-top: 5px;
}
.Email input{
    width: 633px;
    height: 15px;
    text-align: left;
    font-size: 20px;
    padding:15px;
    border-radius: 15px;
    border: 1px solid #ccc; 
}

.Password {
    text-align: center;
    margin-top: 5px;

}
.Password input{
    width: 633px;
    height: 15px;
    text-align: left;
    font-size: 20px;
    padding:15px;
    border-radius: 15px;
    border: 1px solid #ccc; 
}
button{
    margin-top: 7px;
    background-color: rgb(215, 143, 155);
    font-size: 20px;
    width: 300px;
    height: 45px;
    border-radius: 15px;
    }
    
    